<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .form-container {
            background: #222;
            color: #ffffff;
            
            padding: 2rem;
            border-radius: 0.5rem;
            box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        }
        .form-container h1 {
            margin-bottom: 1.5rem;
        }
        .form-control-file {
            margin-top: 0.5rem;
        }
        .btn-submit {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 0.5rem 1.5rem;
            border-radius: 0.25rem;
        }
        .btn-submit:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="form-container">
        <h1>Admin Panel</h1>
        <form action="/admin/addvideo" method="post">
            <div class="form-group">
                <label for="videoTitle">Video Title:</label>
                <input style="background-color:#aaa;color:gray"type="text" class="form-control" id="videoTitle" name="videoTitle" placeholder="Enter video title">
            </div>
            <div class="form-group">
                <label for="videoImageUrl">Thumbnail:</label>
                <input type="file" class="form-control-file" id="videoImageUrl" name="videoImageUrl">
            </div>
            <button type="submit" class="btn btn-submit">Submit</button>
        </form>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
